.countDown__timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    height: 500px;
}

.countDown__timer-start-btn {
    background-color: none;
    color: white;
    border: solid 1px #FF4000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.countDown__timer-abort-n-reset-btn {
    background-color: none;
    color: white;
    border: solid 1px #FF4000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.countDown__timer-resume-n-pause-btn {
    background-color: none;
    color: white;
    border: solid 1px #FF4000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.pause__container-hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.pause__container-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease;
}
