.menu-container {
    position: absolute; /* Absolut positionering för att placera den i det övre vänstra hörnet */
    top: 10px; /* Lite avstånd från toppen */
    left: 10px; /* Lite avstånd från vänster */
    z-index: 100; /* Se till att den är över andra element */
}

.menu-button {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--primary-white);
    margin-top: 20px;
    z-index: 101;
}

.menu-content {
    position: relative; 
    top: 20px; /* Flytta menyn ned 100px */
    left: auto; /* Flytta menyn 50px från vänster */
    width: 315px; /* Justera bredden om nödvändigt */
    height: 250px; /* Justera höjden om nödvändigt */
    background-color: var(--primary-dark-grey); 
    z-index: 99; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0; 
}

.menu-content.show {
    pointer-events: auto; /* Tillåt musinteraktion när den är öppen */
    opacity: 1; /* Gör den synlig */
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content li {
    padding: 10px 15px; /* Justera paddingen efter behov */
}

.menu-content li a {
    text-decoration: none;
    font-weight: 200;
    color: var(--primary-white);
    font-size: 1.4rem;
    text-transform: lowercase;
}

.menu-content li a:hover {
    color: var(--primary-blue);
}

.menu-icon {
    color: var(--primary-orange);
}