.pauseView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Täcker hela höjden */
    width: 100vw;  /* Täcker hela bredden */
    background-color: rgba(0, 0, 0, 0.8); /* Mörk bakgrundsfärg */
    color: white; /* Vit text */
    text-align: center; /* Centrerar text */
    padding: 2rem;
  }
  
  .pauseView h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .pauseView button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #FF6347; /* Knappröd färg */
    color: white;
    cursor: pointer;
  }
  
  .pauseView button:hover {
    background-color: #FF4500; /* Ändrar färg vid hover */
  }
  
  .pauseView svg {
    font-size: 4rem; /* Större storlek på ikonen */
    margin-bottom: 1rem;
  }
  