#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.View {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.View__iphone {
  position: relative;
  width: 375px;
  height: 667px;
  border-radius: 36px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.View__iphone-screen {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background-color: #c2347b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.Background__circle1,
.Background__circle2,
.Background__circle3,
.Background__circle4 {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.Background__circle1 {
  width: 360px;
  height: 360px;
  background-color: rgba(63, 63, 63, 0.247);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Background__circle2 {
width: 320px;
height: 320px;
background-color: rgba(187, 187, 187, 0.341);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.Background__circle3 {
  width: 290px;
  height: 290px;
  background-color: rgba(156, 156, 156, 0.341);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Background__circle4 {
  width: 250px;
  height: 250px;
  background-color: rgba(63, 63, 63, 0.685);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.View__iphone-top {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 36px 36px 0 0;
  top: 0;
}

.View__iphone-bottom {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 36px 36px;
  bottom: 0;
}

img {
  max-width: 60%;
  height: auto;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}